<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>82617446882-elc6e8pef3ehrkf4mjdgnsignto5k5jg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.82617446882-elc6e8pef3ehrkf4mjdgnsignto5k5jg</string>
	<key>API_KEY</key>
	<string>AIzaSyDxeJZ8n7mV8MSNVma-KTBPGcFIhFJ9Rg8</string>
	<key>GCM_SENDER_ID</key>
	<string>82617446882</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.meteo</string>
	<key>PROJECT_ID</key>
	<string>meteo-33526</string>
	<key>STORAGE_BUCKET</key>
	<string>meteo-33526.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:82617446882:ios:4283df2fe3aac2cfc109bb</string>
</dict>
</plist>